body{
  text-align: center;
}

.omikujiResultInner0{
  padding: auto;
  margin: auto;
  line-height: 300px;
  font-size: 100px;
  font-weight: bold;
  background-image: "807fc8a0d2236f3e6a01796023350895_t.jpeg";
}
.omikujiResultInner1{
  padding: auto;
  margin: auto;
  line-height: 300px;
  font-size: 100px;
  font-weight: bold;
  background-image: "c07c5a109bd13acd5082d5b278102d17_t.jpeg";
}
.omikujiResultInner2{
  padding: auto;
  margin: auto;
  line-height: 300px;
  font-size: 100px;
  font-weight: bold;
  background-image: "syoukichi.jpg";
}
.omikujiResultInner3{
  padding: auto;
  margin: auto;
  line-height: 300px;
  font-size: 100px;
  font-weight: bold;
  background: yellow;
}



.omikujiBtn{
  text-align: center;
}
.omikujiBtn input{
  background: skyblue;
  color: #fff;
  width: 150px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 24px;
  transition: 700ms;
}
.omikujiBtn input:hover{
  background:orange;
}

#omikujiImg{
  transition: 1000ms;
}

.buruburu{
  text-align: center;
  animation: buruburu-animation .1s infinite;
}
@keyframes buruburu-animation{
  0%{transform: translate(0px, 0px)}
  25%{transform: translate(10px, 10px)}
  50%{transform: translate(0px, 10px)}
  75%{transform: translate(10px, 0px)}
  100%{transform: translate(0px,0px)}
}
.rotate{
  transform: rotate(-180deg);
}